.klasa {
  font-family: 'Source Sans Pro', sans-serif; }

footer {
  width: 100%;
  background: #000; }
  footer ul {
    display: block; }
  footer div.cos {
    background-color: #f0f0f0;
    font-size: 1px; }
